BASE_CONTAINER_NAME=dc

# Database
DB_USER=user
DB_PASSWORD=password
DB_NAME=mydatabase

# PgAdmin
PG_ADMIN_EMAIL=admin@admin.com
PG_ADMIN_PORT=80
PG_ADMIN_PASSWORD=admin

MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_CONSOLE_DOMAIN=http://locahost:9001

RABBITMQ_DEFAULT_USER=doston
RABBITMQ_DEFAULT_PASS=password
